#grpc_node_binary_host_mirror=https://nexus.telefonica.com.br/repository/grpc-precompiled-binaries/
registry=https://nexus.telefonica.com.br/repository/nodejs/
@fb-app-vivo:registry=https://nexus.telefonica.com.br/repository/fb-app-vivo-npm/
@framework-brasil:registry=https://nexus.telefonica.com.br/repository/framework-brasil-npm/
always-auth=true
strict-ssl=false
registry=https://registry.npmjs.org/
timeout=300000
#CYPRESS_DOWNLOAD_MIRROR=https://nexus.telefonica.com.br/repository/cypress